{% extends 'base.html' %}
{% block title %}
    <title>{{name}}, you are awesome!</title>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var compliments = [{% for compliment in compliments %}"{{compliment.compliment | safe }}",
        {% endfor %}];
    var ind = 0;
    if (compliments.length > 1) {
        ind++;
    }
    function switch_compliment() {
        if (ind == compliments.length) {
            ind = 0;
        }
        $("#compliment").empty();
        $("#compliment").append("{{name}}, " + compliments[ind]);
        ind++;
    }
    $(this).load(function(){
            switch_compliment();
            var timer = setInterval(switch_compliment, 5000) 
    });
</script>
{% endblock %}

{% block content %}

    {% if theme and theme.theme_path %}
    <style type="text/css">
        body {
            background: url({{theme.theme_path}});
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    {% endif %}

    <h1>
    <div align="center">
    <font class="box_textshadow" color="white" value="{{name}}, you are awesome!">{{name}}, {{greeting}}</font>
    </div>
    </h1>
    </div>
    <div align="center">
        <h1><font id="compliment" color="white" class="box_textshadow"></font></h1>
    </div>
    {% if youtube %}
    </br></br></br></br></br></br>
    <div align="center" id="video">
        <iframe id="ytplayer" type="text/html" width="600" height="450"
        src="{{theme.song_path}}?autoplay=1"
        frameborder="0"/>
    </div>
    {% else %}
        <audio autoplay="autoplay"> 
            <source src={{theme.song_path}} type="audio/mpeg">
        </audio>
    {% endif %}
    {% endblock %}
