{% extends 'base.html' %}
    {% block title %}
        <title>{{name}}, you are awesome!</title>
    {% endblock %}
{% block scripts %}
<script type="text/javascript">
    var compliments = [{% for compliment in compliments %}"{{compliment.compliment | safe }}",
        {% endfor %}];
    var ind = 0;
    if (compliments.length > 1) {
        ind++;
    }
    function switch_compliment() {
        if (ind == compliments.length) {
            ind = 0;
        }
        $("#compliment").empty();
        $("#compliment").append(capitalize(compliments[ind]));
        ind++;
    }
    $(this).load(function(){
            switch_compliment();
            var timer = setInterval(switch_compliment, 5000) 
    });

    function capitalize(sentence) {
        return sentence.charAt(0).toUpperCase() + sentence.slice(1);
    }
</script>
{% endblock %}

{% block content %}
    <body class="container" background="http://khongthe.com/wallpapers/nature/a-beautiful-scene-243788.jpg">
    <h1 style="text-align:center">
        <font class="box_textshadow" color="white" value="{{name}}, you are awesome!">{{name}}, you are awesome!</font>
    </h1>

    <div class="hero-unit">
    </br>
        <h1 style="text-align:center"><font id="compliment" class="box_textshadow" color="white"></font></h1>
    </body>
{% endblock %}
