{% extends 'base.html' %}
{% block content %}
<html>
    <head>
    </head>
    <font size="16">Edit Theme for {{name}}</font>
    </br></br>
    <form name="add" method="POST">
        Theme (Background Image): {{form.theme_path}}</br>
        Song: {{form.song_path}}</br>
    <input type="submit"></input>
    </br>
    </br>
    You may input youtube urls or links to .mp3 files for the song. The song will be played when the user enters the page!</br>Note: This step is not required.
    {% if msg %}
        {{msg}}
    {% endif %}
    </form>
</html>
{% endblock %}
